body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #663399;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
  margin: 0;
  font-weight: 500;
  display: inline;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px;
}

section {
  background: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  min-width: 100%;
}

section:last-child {
  grid-column: 1 / span 2;
  text-align: center;
}

section#overview {
  grid-column: 1 / span 2;
}

section#overview ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

section#overview ul li {
  text-align: center;
  font-size: 30px;
}

section#overview ul li p {
  font-size: 16px;
}

h2 {
  margin: 0;
  display: inline;
}

header,
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading p {
  font-size: 20px;
  color: #888;
}

@media (max-width: 900px) {
  .container {
    display: block;
  }

  section {
    margin-bottom: 10px;
  }
}
