body {
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #663399;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
  margin: 0;
  font-weight: 500;
}

h2 {
  margin: 0;
}

section {
  background: white;
  margin-bottom: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chart {
  height: 320px;
}

@media (max-width: 900px) {
  section {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
